script(src="/shapes/clickp4_l2_switch.js")
script(src="/shapes/clickp4_l3_switch.js")
script(src="/shapes/clickp4_QoS.js")
script(src="/shapes/clickp4_forward.js")
script(src="/shapes/clickp4_vlan.js")
script(src="/shapes/clickp4_start.js")