script(src="/shapes/clickp4_l2_sw.js")
script(src="/shapes/clickp4_l3_sw.js")
script(src="/shapes/clickp4_qos.js")
script(src="/shapes/clickp4_vlan.js")
script(src="/shapes/clickp4_acl.js")
script(src="/shapes/clickp4_nat.js")