.workspace
    #navigation.palette
        input#filter(type='text', placeholder='Filter...', autofocus='')
        div#paletteElementScroll.list-group
            div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d_circuit_switch_HighLow") Switch 
            span.badge#draw2d_circuit_switch_HighLow
            div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d.shape.node.Between") FW
            span.badge#draw2d.shape.node.Between
            div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d.shape.node.Between") QoS
            span.badge#draw2d.shape.node.Between
        #paletteElementsOverlay
    #toolbar.toolbar
        span.group
            span#editUndo.ion-ios-arrow-left.icon.disabled
            span#editRedo.ion-ios-arrow-right.icon.disabled
    #draw2dCanvasWrapper.content
        #draw2dCanvas.canvas(oncontextmenu='return false;')
        #canvas_zoom.btn-group
            button#canvas_zoom_in.btn.highlight(type='button') ‒
            button#canvas_zoom_normal.btn.highlight(type='button') 100%
            button#canvas_zoom_out.btn.highlight(type='button') &#xFF0B