doctype html
html
    head
        title= "ClickP4: Towards Modular Programming of P4"
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        block stylesheets


    body(role='document')
        block content
        
        script(src="/jquery/jquery.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        block addscript