.title-bar {
    text-align: center;
    color: #0055ff;
    font-weight: bold;
    font-size: 40px;
}

.name-bar {
    text-align: center;
    color: #0f0f0f;
    font-weight: bold;
    font-size: 20px;
}

.affliation-bar {
    text-align: center;
    color: #4a6885;
    font-weight: bold;
    font-size: 20px;
}

.panel-bar {

    font-weight: bold;
    font-size: 15px;
}

.label-text {
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
}

.canvas-bdg {
    background-color: #95A5A6;
}

.nat-text {
    color: #677bff;
}

.acl-text {
    color: #7fff72;
}

.l3-text {
    color: #ff7676;
}

.qos-text {
    color: #9f5cff;
}

.vlan-text {
    color: #f1ff6e;
}


.policy-panel {
    width: 100%;
    height: 500px;
}